<h1>H E A P</h1>


<% @sections.each do |section| %>
    <%= link_to section_path(section) do %>
      <div class="sections">
        <p><%= section.section_name %></p>
      </div>
    <% end %>
<% end %>
