#header {
  text-align: center;
  font-size: 10em;
  color: black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  background: no-repeat center/cover url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11223895_838822329576521_2091423848771072127_n.jpg?oh=854d808e1103531e28ab5a880f154f91&oe=56AC295B");
  margin: 0 auto;
  padding: 5rem 0;

}

.sections {
  text-align: center;
  border-radius: 10px;
  width: 60%;
  margin: 1em auto;
  padding: 1em;

}
/*Ruby block styling*/
#Ruby {
  background-color: pink;
  color: white;
}

#Ruby a {
  color: white;
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bolder;
}

#Ruby a:hover  {
  text-decoration: none;
}

/*Rails block styling*/
#Rails {
  background-color: lightblue;
}

#Rails a {
  color: white;
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bolder;
}

#Rails a:hover  {
  text-decoration: none;
}
/*HTML block styling*/
#HTML {
  background-color: lightgrey;
}

#HTML a {
  color: white;
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bolder;
}

#HTML a:hover  {
  text-decoration: none;
}
/*CSS block styling*/
#CSS {
  background-color: #598ad0;
  border: 10px solid #1259bd;
  text-decoration: none;
}

#CSS a {
  color: white;
  text-shadow:
   -1px -1px 0 #1259bd,  
    1px -1px 0 #1259bd,
    -1px 1px 0 #1259bd,
     1px 1px 0 #1259bd;
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bolder;
}

 #CSS a:hover  {
  text-decoration: none;
}
