
#nonavpad {
  margin-bottom: 0;

}

.content {
  margin: 0;
  /*background-color: lightgrey;*/
}

footer {
  text-align: center;
  margin: 6em auto 0;
  width: 50%;
  padding-top: 2em;
  border-top: 1px solid lightgrey;
}

.tags a {
  border: 1px solid #2196F3;
  border-radius: 4px;
  padding: 0.2rem;
}

.tags a:hover {
  text-decoration: none;
  color: white;
  background-color: #2196F3;
}

a:hover {
  text-decoration: none;
  color: #2196F3;
}
